--
-- PostgreSQL database dump
--

\restrict aWXfWwLFSuEmw3hHoPVbXS0BQuunevCpLGAPECYAvrxvYxhaveif8Qk2SURySUD

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: founders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.founders (
    id integer NOT NULL,
    name character varying(255),
    company character varying(255),
    domain character varying(255),
    past_funding jsonb,
    valuation bigint,
    competitors text[],
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.founders OWNER TO postgres;

--
-- Name: founders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.founders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.founders_id_seq OWNER TO postgres;

--
-- Name: founders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.founders_id_seq OWNED BY public.founders.id;


--
-- Name: founders_test; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.founders_test (
    id integer NOT NULL,
    name text,
    domain text
);


ALTER TABLE public.founders_test OWNER TO postgres;

--
-- Name: founders_test_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.founders_test_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.founders_test_id_seq OWNER TO postgres;

--
-- Name: founders_test_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.founders_test_id_seq OWNED BY public.founders_test.id;


--
-- Name: investors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.investors (
    id integer NOT NULL,
    name text NOT NULL,
    investor_type text,
    firm_name text,
    location text,
    primary_domain text,
    secondary_domains text[],
    investment_stage_pref text[],
    website text,
    profile_url text,
    linkedin_url text,
    twitter_url text,
    past_investments jsonb,
    total_investments_count integer,
    notable_investments text[],
    is_active_investing boolean,
    short_bio text,
    investment_thesis text,
    tags text[],
    source text,
    confidence_score numeric(4,2),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.investors OWNER TO postgres;

--
-- Name: investors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.investors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.investors_id_seq OWNER TO postgres;

--
-- Name: investors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.investors_id_seq OWNED BY public.investors.id;


--
-- Name: founders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.founders ALTER COLUMN id SET DEFAULT nextval('public.founders_id_seq'::regclass);


--
-- Name: founders_test id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.founders_test ALTER COLUMN id SET DEFAULT nextval('public.founders_test_id_seq'::regclass);


--
-- Name: investors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investors ALTER COLUMN id SET DEFAULT nextval('public.investors_id_seq'::regclass);


--
-- Data for Name: founders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.founders (id, name, company, domain, past_funding, valuation, competitors, created_at) FROM stdin;
\.


--
-- Data for Name: founders_test; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.founders_test (id, name, domain) FROM stdin;
\.


--
-- Data for Name: investors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: founders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.founders_id_seq', 1, false);


--
-- Name: founders_test_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.founders_test_id_seq', 1, false);


--
-- Name: investors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.investors_id_seq', 61, true);


--
-- Name: founders founders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.founders
    ADD CONSTRAINT founders_pkey PRIMARY KEY (id);


--
-- Name: founders_test founders_test_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.founders_test
    ADD CONSTRAINT founders_test_pkey PRIMARY KEY (id);


--
-- Name: investors investors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investors
    ADD CONSTRAINT investors_pkey PRIMARY KEY (id);


--
-- Name: idx_investors_name_firm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_investors_name_firm ON public.investors USING btree (name, COALESCE(firm_name, ''::text));


--
-- PostgreSQL database dump complete
--

\unrestrict aWXfWwLFSuEmw3hHoPVbXS0BQuunevCpLGAPECYAvrxvYxhaveif8Qk2SURySUD

